* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root, .key_wrapper, .top_part, .bottom_part, .row_1, .row_1 .button_first, .row_1 .lang, .row_2, .delete, .row_3, .tab, .row_4, .row_4 .return, .row_4 .caps_lock, .row_5, .row_5 .shift, .row_6, .button, .button_buttom, .ctrl, .arrows, .arrow_left, .arrow_right, .arrows_top_bot, .arrow_top, .arrow_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.keyboard {
  width: 900px;
  height: 417px;
  background-color: #d5d9dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#d5d9dc), color-stop(89%, #d5d9dc), color-stop(95%, white), to(#d5d9dc));
  background: linear-gradient(0deg, #d5d9dc 0%, #d5d9dc 89%, white 95%, #d5d9dc 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #111;
          box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #111;
}

#root {
  width: 1440px;
  height: 1000px;
  background-color: #7c7e7e;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.key_wrapper {
  width: 880px;
  height: 380px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.top_part {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.bottom_part {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.row_1 {
  width: 100%;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*     .top_first__button {
        width: 50px;
        height: 50px;
        @extend %flex;
        border: 1px solid black;
    } */
}

.row_1 .button_first {
  cursor: pointer;
  width: 53.5px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid black;
  background: #222;
  color: #888;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 4px solid black;
  user-select: none;
}

.row_1 .button_first:hover {
  background: #2f2f2f;
}

.row_1 .button_first:active {
  margin-bottom: -3px;
  height: 32px;
  border-bottom: 1px solid black;
}

.row_1 .lang {
  cursor: pointer;
  width: 53.5px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid black;
  background: #222;
  color: #888;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 4px solid black;
  user-select: none;
}

.row_1 .lang:hover {
  background: #2f2f2f;
}

.row_1 .lang:active {
  margin-bottom: -3px;
  height: 32px;
  border-bottom: 1px solid black;
}

.row_1 .activeLang {
  background: #2f2f2f;
  margin-bottom: -3px;
  height: 32px;
  border-bottom: 1px solid black;
}

.row_1 .activebut {
  background: #484848;
}

.row_2 {
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px auto;
  /*     .top_second__button {
        width: 50px;
        height: 50px;
        @extend %flex;
        border: 1px solid black;
    } */
}

.row_2 .activebut {
  background: #484848;
}

.delete {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid black;
  border-bottom: 4px solid black;
  background: #222;
  color: #888;
  text-align: center;
  width: 100px;
  height: 50px;
  border-bottom: 4px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.delete:hover {
  background: #2f2f2f;
}

.delete:active {
  margin-bottom: -3px;
  height: 47px;
  border-bottom: 1px solid black;
}

.row_3 {
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px auto;
  /*     .top_third__button {
        width: 50px;
        height: 50px;
        @extend %flex;
        border: 1px solid black;
    } */
}

.row_3 .activebut {
  background: #484848;
}

.tab {
  width: 100px;
  height: 50px;
  border-bottom: 4px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid black;
  background: #222;
  color: #888;
  text-align: center;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  user-select: none;
}

.tab:hover {
  background: #2f2f2f;
}

.tab:active {
  margin-bottom: -3px;
  height: 47px;
  border-bottom: 1px solid black;
}

.row_4 {
  gap: 10px;
  margin: 5px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  /*     .bottom_first__button {
        width: 50px;
        height: 50px;
        @extend %flex;
        border: 1px solid black;
    } */
}

.row_4 .return {
  cursor: pointer;
  width: 120px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid black;
  background: #222;
  color: #888;
  border-bottom: 4px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.row_4 .return:hover {
  background: #2f2f2f;
}

.row_4 .return:active {
  margin-bottom: -3px;
  height: 47px;
  border-bottom: 1px solid black;
}

.row_4 .caps_lock {
  cursor: pointer;
  width: 120px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid black;
  background: #222;
  color: #888;
  border-bottom: 4px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.row_4 .caps_lock:hover {
  background: #2f2f2f;
}

.row_4 .caps_lock:active {
  background: #2f2f2f;
  margin-bottom: -3px;
  height: 47px;
  border-bottom: 1px solid black;
}

.row_4 .caps_lock:active .lamp {
  background-color: green;
}

.row_4 .active {
  margin-bottom: -3px;
  height: 47px;
  border-bottom: 1px solid black;
  background: #2f2f2f;
}

.row_4 .active .lamp {
  background-color: green;
}

.row_4 .activebut {
  background: #484848;
}

.row_5 {
  gap: 10px;
  margin: 5px auto;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*     .bottom_second__button {
        width: 50px;
        height: 50px;
        @extend %flex;
        border: 1px solid black;
    } */
}

.row_5 .shift {
  cursor: pointer;
  width: 130px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid black;
  background: #222;
  color: #888;
  border-bottom: 4px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.row_5 .shift:hover {
  background: #2f2f2f;
}

.row_5 .shift:active {
  margin-bottom: -3px;
  height: 47px;
  border-bottom: 1px solid black;
}

.row_5 .activebut {
  background: #484848;
}

.row_6 {
  gap: 10px;
  margin: 5px auto;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*     .bottom_third__button {
        width: 50px;
        height: 50px;
        @extend %flex;
        border: 1px solid black;
    } */
}

.row_6 .activebut {
  background: #484848;
}

.tab {
  width: 100px;
  height: 50px;
  border-bottom: 4px solid black;
}

.button {
  cursor: pointer;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-bottom: 4px solid black;
  background: #222;
  color: #888;
  text-align: center;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button:hover {
  background: #2f2f2f;
}

.button:active {
  margin-bottom: -3px;
  height: 47px;
  border-bottom: 1px solid black;
}

.button_buttom {
  border-radius: 8px;
  width: 60px;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  border-bottom: 4px solid black;
  background: #222;
  color: #888;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button_buttom:hover {
  background: #2f2f2f;
}

.button_buttom:active {
  margin-bottom: -3px;
  height: 57px;
  border-bottom: 1px solid black;
}

.ctrl {
  border-radius: 8px;
  width: 60px;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  border-bottom: 4px solid black;
  background: #222;
  color: #888;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ctrl:hover {
  background: #2f2f2f;
}

.ctrl:active {
  margin-bottom: -3px;
  height: 57px;
  border-bottom: 1px solid black;
}

.space {
  width: 300px;
  border-bottom: 4px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.space:hover {
  background: #2f2f2f;
}

.space:active {
  margin-bottom: -3px;
  height: 57px;
  border-bottom: 1px solid black;
}

.arrows {
  width: 200px;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrow_left, .arrow_right {
  border-radius: 8px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 60px;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  background: #222;
  color: #888;
  border-bottom: 4px solid black;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.arrow_left:hover, .arrow_right:hover {
  background: #2f2f2f;
}

.arrow_left:active, .arrow_right:active {
  margin-bottom: 0px;
  height: 27px;
  border-bottom: 1px solid black;
}

.arrows_top_bot {
  width: 50px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.arrow_top, .arrow_bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 60px;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  background: #222;
  color: #888;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.arrow_top:hover, .arrow_bottom:hover {
  background: #2f2f2f;
}

.arrow_top:active, .arrow_bottom:active {
  margin-bottom: 0px;
  height: 27px;
  border-bottom: 1px solid black;
}

.arrow_top {
  border-radius: 8px 8px 0px 0px;
}

.arrow_bottom {
  border-radius: 0px 0px 8px 8px;
  border-bottom: 4px solid black;
}

.lamp {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -11px;
  background-color: #7c7e7e;
}

.input_area {
  width: 800px;
  height: 400px;
  background-color: #d8e1e7;
  margin-bottom: 50px;
  border-radius: 16px;
  border: 20px solid #222;
  border-top: 30px solid #222;
  overflow: hidden;
}

textarea {
  min-width: 100%;
  min-height: 100%;
  resize: none;
  padding: 10px;
  background-color: #e7e7e7;
  border: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cam {
  background-image: url(../assets/image/pngwing.com.png);
  background-repeat: no-repeat;
  position: relative;
  width: 30px;
  height: 30px;
  background-size: contain;
  top: 35px;
  left: -15px;
}

#blink {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 18px;
  left: -45px;
  background-color: red;
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    background: #ff0000;
  }
  50% {
    background: #000;
  }
  100% {
    background: #ff0000;
  }
}

@keyframes blink {
  0% {
    background: #ff0000;
  }
  50% {
    background: #000;
  }
  100% {
    background: #ff0000;
  }
}

.arrow_left, .arrow_top, .arrow_bottom, .arrow_right {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.globus {
  width: auto;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */